@font-face {
  font-family: "h-icons";
  src: url(fonts/h-icons.eot);
  src: url(fonts/h-icons.eot?#iefix) format("eot"), url(fonts/h-icons.woff) format("woff"), url(fonts/h-icons.ttf) format("truetype"), url(fonts/h-icons.svg#h-icons) format("svg")
}

[class*=" h-icon-"],
[class^=h-icon-] {
  font-family: h-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.h-icon-draw:before {
  content: "\e960"
}

.h-icon-tip_right:before {
  content: "\e961"
}

.h-icon-circle_error:before {
  content: "\e962"
}

.h-icon-circle_info:before {
  content: "\e963"
}

.h-icon-circle_notice:before {
  content: "\e964"
}

.h-icon-circle_success:before {
  content: "\e965"
}

.h-icon-sq_atten:before {
  content: "\e966"
}

.h-icon-sq_error:before {
  content: "\e967"
}

.h-icon-sq_infor:before {
  content: "\e968"
}

.h-icon-sq_right:before {
  content: "\e969"
}

.h-icon-tip_atten:before {
  content: "\e96a"
}

.h-icon-tip_error:before {
  content: "\e96b"
}

.h-icon-tip_infor:before {
  content: "\e96c"
}

.h-icon-tip_question:before {
  content: "\e96d"
}

.h-icon-search:before {
  content: "\e900"
}

.h-icon-share:before {
  content: "\e901"
}

.h-icon-shutdown:before {
  content: "\e902"
}

.h-icon-stick:before {
  content: "\e903"
}

.h-icon-trashcan:before {
  content: "\e904"
}

.h-icon-unlink:before {
  content: "\e905"
}

.h-icon-update:before {
  content: "\e906"
}

.h-icon-upload:before {
  content: "\e907"
}

.h-icon-user:before {
  content: "\e908"
}

.h-icon-users:before {
  content: "\e909"
}

.h-icon-window-maximum:before {
  content: "\e90a"
}

.h-icon-window-minimize:before {
  content: "\e90b"
}

.h-icon-about:before {
  content: "\e90c"
}

.h-icon-angle_down:before {
  content: "\e90d"
}

.h-icon-angle_left:before {
  content: "\e90e"
}

.h-icon-angle_right:before {
  content: "\e90f"
}

.h-icon-angle_up:before {
  content: "\e910"
}

.h-icon-angledouble_down:before {
  content: "\e911"
}

.h-icon-angledouble_left:before {
  content: "\e912"
}

.h-icon-angledouble_right:before {
  content: "\e913"
}

.h-icon-angledouble_up:before {
  content: "\e914"
}

.h-icon-angle-sm-down:before {
  content: "\e915"
}

.h-icon-angle-sm-left:before {
  content: "\e916"
}

.h-icon-angle-sm-right:before {
  content: "\e917"
}

.h-icon-angle-sm-up:before {
  content: "\e918"
}

.h-icon-arrow_down:before {
  content: "\e919"
}

.h-icon-arrow_left:before {
  content: "\e91a"
}

.h-icon-arrow_left_circle:before {
  content: "\e91b"
}

.h-icon-arrow_right:before {
  content: "\e91c"
}

.h-icon-arrow_up:before {
  content: "\e91d"
}

.h-icon-attach:before {
  content: "\e91e"
}

.h-icon-bell:before {
  content: "\e91f"
}

.h-icon-calendar:before {
  content: "\e920"
}

.h-icon-capital:before {
  content: "\e921"
}

.h-icon-clock:before {
  content: "\e922"
}

.h-icon-close:before {
  content: "\e923"
}

.h-icon-close_circle:before {
  content: "\e924"
}

.h-icon-close_round:before {
  content: "\e925"
}

.h-icon-close-sm:before {
  content: "\e926"
}

.h-icon-control_pole:before {
  content: "\e927"
}

.h-icon-copy:before {
  content: "\e928"
}

.h-icon-crop:before {
  content: "\e929"
}

.h-icon-document:before {
  content: "\e92a"
}

.h-icon-download:before {
  content: "\e92b"
}

.h-icon-edit:before {
  content: "\e92c"
}

.h-icon-export:before {
  content: "\e92d"
}

.h-icon-eye_close:before {
  content: "\e92e"
}

.h-icon-eye_open:before {
  content: "\e92f"
}

.h-icon-filter:before {
  content: "\e930"
}

.h-icon-flash:before {
  content: "\e931"
}

.h-icon-fliter-f:before {
  content: "\e932"
}

.h-icon-fold:before {
  content: "\e933"
}

.h-icon-fold-add:before {
  content: "\e934"
}

.h-icon-forward:before {
  content: "\e935"
}

.h-icon-gear:before {
  content: "\e936"
}

.h-icon-help:before {
  content: "\e937"
}

.h-icon-histogram:before {
  content: "\e938"
}

.h-icon-home:before {
  content: "\e939"
}

.h-icon-image:before {
  content: "\e93a"
}

.h-icon-import:before {
  content: "\e93b"
}

.h-icon-internet:before {
  content: "\e93c"
}

.h-icon-line_chart:before {
  content: "\e93d"
}

.h-icon-lineangle_down:before {
  content: "\e93e"
}

.h-icon-lineangle_left:before {
  content: "\e93f"
}

.h-icon-lineangle_right:before {
  content: "\e940"
}

.h-icon-lineangle_up:before {
  content: "\e941"
}

.h-icon-link:before {
  content: "\e942"
}

.h-icon-local:before {
  content: "\e943"
}

.h-icon-lock:before {
  content: "\e944"
}

.h-icon-lock-open:before {
  content: "\e945"
}

.h-icon-maximize:before {
  content: "\e946"
}

.h-icon-menu_app:before {
  content: "\e947"
}

.h-icon-menu_leftbar:before {
  content: "\e948"
}

.h-icon-menu_panel:before {
  content: "\e949"
}

.h-icon-minimize:before {
  content: "\e94a"
}

.h-icon-minus:before {
  content: "\e94b"
}

.h-icon-minus_circle:before {
  content: "\e94c"
}

.h-icon-minus_search:before {
  content: "\e94d"
}

.h-icon-more_circle_horizontal:before {
  content: "\e94e"
}

.h-icon-more_circle_vertical:before {
  content: "\e94f"
}

.h-icon-more_dot_horizontal:before {
  content: "\e950"
}

.h-icon-more_dot_vertical:before {
  content: "\e951"
}

.h-icon-performance:before {
  content: "\e952"
}

.h-icon-phone:before {
  content: "\e953"
}

.h-icon-pie_chart:before {
  content: "\e954"
}

.h-icon-plan:before {
  content: "\e955"
}

.h-icon-plus:before {
  content: "\e956"
}

.h-icon-plus_circle:before {
  content: "\e957"
}

.h-icon-plus_search:before {
  content: "\e958"
}

.h-icon-print:before {
  content: "\e959"
}

.h-icon-restart:before {
  content: "\e95a"
}

.h-icon-restore:before {
  content: "\e95b"
}

.h-icon-right:before {
  content: "\e95c"
}

.h-icon-right-circle:before {
  content: "\e95d"
}

.h-icon-right-circle-f:before {
  content: "\e95e"
}

.h-icon-save:before {
  content: "\e95f"
}